@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="file" />
    <button onclick="opnerTest(1);">버튼</button>
    <button onclick="opnerTest(2);">버튼</button>
</div>

<div>
    redis test

    <span>키 <input type="text" id="key" width="30" /></span><br />
    <span>값 <input type="text" id="val" width="30"></span>

    <input type="button" onclick="" />
</div>

<a href="./Home/privacy.cshtml">test</a>

<script>
    //var obj = { a: 20, b: 30 };
    //console.log(`a's prop is ${obj.a} and ${obj.b}`);

    //console.log(test);
    //var test = 'aa';

    //console.log(test2);
    //let test2 = 'bb';
    //function fileTest() {
    //    let formData = new FormData();
    //    let file = $('file').files[0]
    //    let data = {};
    //    data.file = file;
    //    formData.append('file', JSON.stringify(file));

    //    $.ajax({
    //        type: 'POST',
    //        url: 'Home/FileTest',
    //        data: formData,
    //        dataType: 'json',
    //        contentType: false,
    //        success: function () {
    //            alert('완료');
    //        }
    //    });
    //}
    function redisTest() {
        //let data = {
        //    key: {jsontest : 1, jsontest2 :2}
        //};

        let data = {};
        data.key = $('#key').val();
        data.value = $('#val').val();

        $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            url: '/Home/RediseTest',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                alert('완료');
            }
        });
    }



    function opnerTest(i) {
        if (i == 1) {
            window.open('https://www.naver.com', '_test')

        } else {
            window.open('https://www.srookpay.com', '_self')

        }
    }

    


</script>