@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    'use strict';
    let person =function (name){
        const prototype1 ='test';
        this.name = name;
        this.sayhello = function (){
            console.log(`${this.name}:hello~`);
        }
    }

    const yj = new person('yj');
    yj.sayhello;
</script>